th {
    text-align: center;
}

td {
    text-align: center;
}

h2 {
    text-align: center;
}

.my_index_title {
    font-weight: bolder;
    font-size: x-large;
}

.label-default {
    background-color: palevioletred;
    margin-right: 10px;
}
