{% extends 'base_user.html' %}
{% load static %}

{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'axf/user/js/login.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <form method="post" enctype="multipart/form-data" action="{% url 'axf:login' %}" onsubmit="return parse_data()">
            {% csrf_token %}
            <div class="form-group">
                <label for="username_input">用户名</label>
                <input name="username" type="text" class="form-control" id="username_input" placeholder="请输入用户名/邮箱">
            </div>
            <div class="form-group">
                <label for="password_input">密码</label>
                <input name="password" type="password" class="form-control" id="password_input" placeholder="请输入密码">
            </div>
            <button type="submit" class="btn btn-success btn-block">登录</button>
        </form>
    </div>
{% endblock %}