" 让tab和shift-tab变为缩进，怎么都能缩进的那种
nnoremap <tab> V>
nnoremap <s-tab> V<
vnoremap <tab> >gv
vnoremap <s-tab> <gv

" 隐射快捷上一行下一行的
inoremap jk <Esc>o
inoremap kj <Esc>ko
inoremap jl <Esc>
inoremap lj <Esc>
inoremap kl <Esc>la
inoremap lk <Esc>i
set timeoutlen=100

" 选择当前行
inoremap <C-l> <Esc>^v$
nnoremap <C-l> ^v$

" 共享剪贴板  
set clipboard+=unnamed
" 突出显示当前行
set cursorline

" 我的映射
" let mapleader=";"



