{% extends 'base.html' %}
{% load static %}

{% block header %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block title %}
    李英俊小朋友
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="page-header">
                <h2>꧁༺༽❀ 脚本集合 ❀༼༻꧂</h2>
            </div>
            <p style="color: red; font-weight: bold">注意：仅限内部使用。</p>
            <p>作者：李英俊小朋友 &nbsp;&nbsp;&nbsp;&nbsp; 联系方式：litian@whchem.com</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>

    {% for topic, funcs in funcs_dict.items %}
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="my_index_title">{{ topic.func_type_name }}</span></div>
            <div class="panel-body">
                <p>{{ topic.func_type_des }}</p>
            </div>

            <!-- List group -->
            <ul class="list-group">
                {% for f in funcs %}
                    <li class="list-group-item">

                        <!-- 编号 -->
                        <span>{{ forloop.counter }}. </span>

                        <!-- 是否显示为开发中 -->
                        {% ifnotequal f.func_label 1 %}
                            <span class="label label-default" style="background-color: dodgerblue">
                                {{ f.get_func_label_display }}
                            </span>
                        {% endifnotequal %}

                        <!-- 显示链接 -->
                        <a href="{{ f.func_url }}">{{ f.func_name }}</a>

                        <!-- 是否为最新 -->
                        {% ifequal f.update_flag 1 %}
                            <span class="label label-default">新</span>
                        {% endifequal %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="my_index_title">当前使用用户</span></div>

        <!-- Table -->
        <table class="table table-striped">
            <tr>
                <th>序号</th>
                <th style="width: 150px">IP地址</th>
                <th style="width: 200px">用户名</th>
                <th>访问计数</th>
            </tr>
            {% for c, user in users %}
                <tr>
                    <td>{{ c }}</td>
                    <td>{{ user.ip }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.count }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}