**/.idea
**/.ipynb_checkpoints
**/__pycache__
**/build
**/dist
**/新建文件夹
**/models
**/model
**/pics
**/images
**/datas
**/migrations
**/lib
**/out
**/desktop.ini
**/password.py

practice_data
python_projects/6-AXFProject/axf


**/uploads
**/alipay_config

.*
*.plk
*.sqlite
*.spec
*.pyc
*.sqlite3
*.jpg
*.ico
*.png


!.gitignore

# 工作需要
**/info_py_ini.py