**/.idea
**/.ipynb_checkpoints
**/__pycache__
**/build
**/dist
**/新建文件夹
**/models
**/model
**/pics
**/images
**/datas
**/migrations
**/lib
**/out

.*
*.plk
*.sqlite
*.spec
*.pyc

/tools/tools_software/idea_active
/tools/tools_software/XMindCrack

!.gitignore
