**/.idea
**/.ipynb_checkpoints
**/__pycache__
**/build
**/dist
**/新建文件夹
**/models
**/model
**/pics
**/images
**/datas
**/migrations
**/lib
**/out
**/desktop.ini
**/password.py
**/model_dir
**/chrome data

# nodejs包
**/node_modules
**/package.json
**/package-lock.json

practice_data
output
mytoken
python_projects/6-AXFProject/axf


**/uploads
**/alipay_config

.*
*.plk
*.sqlite
*.spec
*.pyc
*.sqlite3
*.jpg
*.ico
*.png


!.gitignore
# 我的项目
!tools/tools_work/0100-我的脚本集合网页/djangoProject/**

# 工作需要
**/info_py_ini.py

!**/.ideavimrc