{% extends 'base.html' %}
{% load static %}

{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/func4/func4_clear.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/func6.css' %}">
{% endblock %}

{% block content %}
    {{ block.super }}
    <form class="form-inline" action="{% url '1:func4' %}" method="post">
        {% csrf_token %}

        <div class="input-group">
            <span class="input-group-addon">选择添加的符号：</span>
            <input class="form-control" type="text" name="choose" placeholder="默认为双引号" value="{{ choose }}">
            <span class="input-group-addon">需要忽略的末尾符号：</span>
            <input class="form-control" type="text" name="end_symbol" placeholder="默认为逗号" value="{{ end_symbol }}">
            <span class="input-group-addon">增加前缀：</span>
            <input class="form-control" type="text" name="prefix" placeholder="默认为空字符串" value="{{ prefix }}">
        </div>

        <div class="input-group">
            <label>粘贴你的字段: </label>
            <div class="btn-group" role="group" aria-label="...">
                <input class="btn btn-primary" type="submit" style="margin-left: 10px" value="提交"/>
                <button class="btn btn-default" id="clear_button" style="margin-right: 100px" type="button">清空</button>
            </div>

            <label>是否大小写：</label>
            <label class="radio-inline">
                <input type="radio" name="case" id="inlineRadio1" value="1"> 小写
            </label>
            <label class="radio-inline">
                <input type="radio" name="case" id="inlineRadio2" value="2"> 大写
            </label>
            <label class="radio-inline">
                <input type="radio" name="case" id="inlineRadio3" value="0" checked> 无
            </label>
        </div>

        <textarea name="my_str" id="my_str" class="form-control" rows="10"
                       placeholder="输入：请粘贴未加标点的字段">{{ my_str }}</textarea>
        <textarea name="output" id="output" class="form-control" rows="10"
                       placeholder="输出：加上标点的字段">{{ output }}</textarea>
    </form>
{% endblock %}