{% extends 'base.html' %}
{% load static %}
{% block title %}工具5{% endblock %}

{% block ext_js %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/func5.css' %}">
{% endblock %}

{% block content %}
    {{ block.super }}
    <form action="{% url '1:func5' %}" method="post">
        {% csrf_token %}

        <div>
            <table>
                <tr>
                    <td>地址</td>
                    <td>章节</td>
                    <td></td>
                    <td>页码</td>
                    <td></td>
                    <td>后缀</td>
                </tr>
                <tr>
                    <td><input type="text" name="root_url" placeholder="https://www.xxx.com/" style="width: 200px"></td>
                    <td><input type="text" name="chapter" placeholder="默认为空" style="width: 60px"></td>
                    <td>/</td>
                    <td><input type="text" name="page" placeholder="默认为1" style="width: 50px"></td>
                    <td>.</td>
                    <td><input type="text" name="pic_format" placeholder="默认为jpg" style="width: 60px"></td>
                </tr>
            </table>
            <span>
                页码补齐：<input type="text" name="page_zero_fill" placeholder="默认为0" style="width: 50px">
                <input type="submit" style="background-color: orange; margin-left: 20px" value="提交"/>
                <span id="result" style="color: red">{{ result }}</span>
            </span>

        </div>
        <br>
        <div>
            <b>功能描述：</b>
            <p>&nbsp;&nbsp;根据地址： https://www.xxx.com/chapter/page.jpg 实现：</p>
            <ol>
                <li>单独链接的图片获取：page.jpg</li>
                <li>单独章节、多个链接的图片拼接获取：chapter.jpg</li>
                <li>多个章节、多个链接的图片拼接获取：chapter_1.jpg、chapter_2.jpg</li>
            </ol>
            <b>注意事项：</b>
            <ol>
                <li>不输入章节，则表示该链接没有章节选项，直接拼接图</li>
                <li>暂时只支持用0补齐页码，输入数字表示补齐后是几位数，默认不补齐</li>
                <li>通过在页码中输入形如：1-1、1-10来获取单个图片、对应多个图片的拼接</li>
                <li>功能2中，如果输入了单独的页码（如：1），则会从输入页码开始递增直至获取所有图片，并进行拼接</li>
                <li><span style="color: red; font-weight: bold">功能3属于内测状态</span>，只有管理员能实现，因为不知道如何让用户获取多个图片</li>
            </ol>
        </div>
    </form>
{% endblock %}