{% extends 'base.html' %}
{% load static %}
{% block title %}工具4{% endblock %}

{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/func4/func4_clear.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>给SELECT语句中每一列的字段加双引号</h1>
    <form action="{% url '1:func4' %}" method="post">
        {% csrf_token %}
        粘贴你的字段: <input type="submit" style="background-color: orange; margin-left: 10px" value="提交"/>
        <button id="clear_button" type="button" style="margin-left: 10px; margin-right: 10px">清空</button>
        <span id="copy_result" style="color: red">{{ result }}</span>
        <p>
            选择添加的符号：<input type="text" name="choose" placeholder="默认为双引号" style="width: 100px" value="{{ choose }}">
            需要忽略的末尾符号：<input type="text" name="end_symbol" placeholder="默认为逗号" style="width: 100px" value="{{ end_symbol }}">
            增加前缀：<input type="text" name="prefix" placeholder="默认为空字符串" style="width: 100px" value="{{ prefix }}">
            <br>
            <label>是否大小写：</label>
            <label><input type="radio" name="case" value="1">小写</label>
            <label><input type="radio" name="case" value="2">大写</label>
            <label><input type="radio" name="case" value="0" checked>无</label>
        </p>
        <div><textarea name="my_str" id="my_str" cols="100" rows="10" placeholder="输入：请粘贴未加标点的字段"
                       style="margin-top: 50px">{{ my_str }}</textarea></div>
        <div><textarea name="output" id="output" cols="100" rows="10"
                       placeholder="输出：加上标点的字段">{{ output }}</textarea></div>
    </form>
{% endblock %}
</html>