{% extends 'base.html' %}
{% load static %}

{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/func1/clear_io_and_copy_result_1_2.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/func2.css' %}">
{% endblock %}

{% block content %}
    {{ block.super }}
    <p><a href="{% url '1:func3' %}">点我跳转到工具3：LeapHD离线批处理自动提交 <b>流程保存</b></a></p>

    <form class="form-inline" action="{% url '1:func2' %}" method="post">
        {% csrf_token %}
        <div>
            <label>输入你的sql: </label>
            <input class="btn btn-primary" type="submit" style="margin-left: 10px" value="提交"/>
            <button class="btn btn-default" id="clear_button" type="button" style="margin-left: 20px">清空</button>
            <button class="btn btn-default" id="copy_result1" type="button">复制结果1</button>
            <button class="btn btn-default" id="copy_result2" type="button">复制结果2</button>
            <span id="copy_result" style="color: red">{{ result }}</span>
            <br>
        </div>

        <textarea class="form-control" name="sql" id="sql" rows="10" placeholder="输入：请粘贴sql">{{ sql }}</textarea>

        <div style="border-width: 3px; border-color: saddlebrown; border-style: dashed; margin-top: 10px; margin-bottom: 20px; padding: 10px">
            <label>HANA视图需要附上视图字段：</label>
            <br>
            <div class="form-group">
                <label for="hive_db">Hive库名：</label>
                <input class="form-control" id="hive_db" type="text" name="hive_db" value="{{ hive_db }}"
                       placeholder="非视图别填">
            </div>
            <div class="form-group">
                <label for="view_name">视图名：</label>
                <input class="form-control" id="view_name" type="text" name="view_name" value="{{ view_name }}"
                       placeholder="非视图别填">
            </div>
            <div class="form-group">
                <label for="view_desc">视图描述：</label>
                <input class="form-control" id="view_desc" type="text" name="view_desc" value="{{ view_desc }}"
                       placeholder="非视图别填">
            </div>
            <br>
            <label id="my_label" for="view">粘贴HANA视图列名：</label>
            <textarea class="form-control" name="view" id="view" rows="5" placeholder="（注意：只有视图才需要输入该内容）
输入：请粘贴HANA视图列名，分隔符请选择英文逗号，引号选择英文双引号，分割行使用\n">{{ view }}</textarea>
        </div>
    </form>
    <div>
        <label>结果输出：</label>
        <textarea class="form-control" name="result1" id="result1" rows="10"
                  placeholder="输出：Hive建表语句">{{ result1 }}</textarea>
        <textarea class="form-control" name="result2" id="result2" cols="100" rows="10"
                  placeholder="输出：HANA选择语句">{{ result2 }}</textarea>
    </div>
{% endblock %}