{% extends 'base.html' %}
{% load static %}
{% block title %}工具1{% endblock %}

{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/func1/func1_clear.js' %}"></script>
{% endblock %}

{% block content %}
    <h1><b>MYSQL</b> 建表语句 -> Hive建表语句 + 选择字段语句</h1>
    <form action="{% url '1:func1' %}" method="post">
        {% csrf_token %}
        输入你的sql: <input type="submit" style="background-color: orange; margin-left: 10px" value="提交"/>
        <button id="clear_button" type="button" style="margin-left: 20px">清空</button>
        <button id="copy_result1" type="button">复制结果1</button>
        <button id="copy_result2" type="button">复制结果2</button>
        <span id="copy_result" style="color: red">{{ result }}</span>
        <br>
        <textarea name="sql" id="sql" cols="100" rows="10" placeholder="输入：请粘贴sql">{{ sql }}</textarea>
        <br>
    </form>
    <textarea name="result1" id="result1" cols="100" rows="10" placeholder="输出：Hive建表语句">{{ result1 }}</textarea>
    <textarea name="result2" id="result2" cols="100" rows="10" placeholder="输出：Hive选择语句">{{ result2 }}</textarea>
{% endblock %}
</html>