{% extends 'base.html' %}
{% load static %}
{% block title %}工具3{% endblock %}

{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/func3/func3_clear.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/func3.css' %}">
{% endblock %}

{% block content %}
    <h1>LeapHD离线批处理自动提交 <b>流程保存</b></h1>
    <p><a href="{% url '1:func2' %}">点我跳转到工具2：<b>HANA</b> 建表语句 -> Hive建表语句 + 选择字段语句</a></p>

    <form action="{% url '1:func3' %}" method="post">
        {% csrf_token %}
        粘贴你的cookie和流程的defjson: <input type="submit" style="background-color: orange; margin-left: 10px" value="提交"/>
        <button id="clear_button" type="button" style="margin-left: 10px; margin-right: 10px">清空</button>
        <span id="copy_result" style="color: red">{{ result }}</span>
        <br><br>
        <div>
            <div><b>defjson替换内容:</b></div>
            <div>
                <table border="1" align="left">
                    <tr>
                        <th>替换前</th>
                        <th>替换后</th>
                    </tr>
                    {% for k, v in aim_dict.items %}
                        <tr>
                            <td>{{ k }}</td>
                            <td>{{ v }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div>
            <div><textarea name="my_cookie" id="my_cookie" cols="100" rows="10" placeholder="输入：请粘贴cookie"
                           style="margin-top: 50px">{{ my_cookie }}</textarea></div>
            <div><textarea name="defjson" id="defjson" cols="100" rows="10"
                           placeholder="输入：请粘贴defjson">{{ defjson }}</textarea></div>
        </div>
    </form>
{% endblock %}
</html>